.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 15vh;
}

.img {
  width: 40%;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  /* height: 20vh; */
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #0d6936;
  gap: 24px;
}

.text {
  color: #191919;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 6vh;
  padding: 0px 40px;
  text-align: center;
}

.link {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bg {
  position: fixed;
  top: 100px;
  right: 0;
  opacity: 0.2;
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    color: #ffffff;
    background-color: #000;
  }
  .text {
    color: #ffffff;
  }
}
